
body{
    background-color: darkseagreen;
}


h4{
    color: palevioletred;
}

.replybox{

    margin-top:100px;
    
}

#textbox{
    margin-bottom:100px;
}

.btn btn-success{
    color: red ;
}

#toline{
    color:green;
    font-weight: bold;
    
}

#fromline{
    font-weight: bold;
}

